<nav id="sidebarMenu" class="p-0 col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="sidebar-sticky pt-3">
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Categorías</span>
      <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
        <span data-feather="plus-circle"></span>
      </a>
    </h6>
    <ul class="nav flex-column">
      <% Category.all.each do |category| %>
        <li class="nav-item">
          <%= link_to category.name, category, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>